@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --bg-color: #333333;
  --green: #00ff00;
  --blue: #008080;
}

body {
  height: 100%;
  width: 100%;
}

main {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Character btns: */

.charactersBtnsWrapper {
  border: var(--green) solid 2px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: var(--blue);
  width: 70%;
  height: fit-content;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 2;
}

.charactersBtnsWrapper button {
  border: var(--green) 2px solid;
  border-radius: 50%;
  font-size: 18px;
  font-family: "Rowdies", cursive;
  width: 85px;
  height: 85px;
  color: #333333;
}

#Jack,
#Stephen,
#Nikolas {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#Jack {
  background-image: url("jack.jpeg");
}

#Jack::before,
#Stephen::before,
#Nikolas::before {
  background-color: rgba(255, 255, 255, 0.65);
  background-blend-mode: color-burn;
  width: 120%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#Jack::before {
  content: "Jack";
}

#Stephen::before {
  content: "Stephen";
}

#Nikolas::before {
  content: "Nikolas";
}

#Stephen {
  background-image: url("Stephen.jpeg");
}

#Nikolas {
  background-image: url("Nikolas.jpeg");
}

#Jack:hover,
#Stephen:hover,
#Nikolas:hover {
  background-size: 200%;
  animation: 4000ms infinite alternate btnHover;
}

@keyframes btnHover {
  from {
    background-position: 50% 90%;
  }
  to {
    background-position: 50% 25%;
  }
}

/* Character's card: */

article {
  display: none;
  flex-direction: row;
  width: 70%;
  border-radius: 5px;
  padding-top: 5px;
  transform: rotate3d(3, 1, 1, 360deg);
  background-color: var(--blue);
  position: relative;
  z-index: 2;
}

article > span {
  content: "";
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border-radius: 5px;
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -2px;
  right: 0;
  z-index: -3;
}

article::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

/* Image and Stats wrappers: */

.imgAndStats {
  width: 30%;
  margin: 0px 2px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.imgWrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
  border: var(--green) solid 3px;
}

.imgWrapper span {
  position: absolute;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: repeating-conic-gradient(
    var(--green) 0deg,
    var(--green) 360deg
  );
}

.imgWrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.statsWrapper {
  width: fit-content;
  font-family: "Rowdies", cursive;
  font-size: 20px;
}

/* Text wrapper: */

.txtWrapper {
  margin: 0px 0px 5px 12px;
  z-index: 10;
  width: 70%;
}

.txtWrapper > h1,
.desc > p {
  margin-bottom: 10px;
}

h1 {
  font-family: "Rowdies", cursive;
  font-size: 32px;
}

.desc p {
  font-size: 18px;
  animation: 2000ms 1 forwards paragraphAppear;
  position: relative;
}

.desc span {
  border-left: var(--green) 3px solid;
  display: block;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  animation: 2000ms 1 forwards revealSpan;
}

@keyframes paragraphAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes revealSpan {
  0% {
    width: 100%;
    opacity: 100%;
  }
  90% {
    width: 3px;
    opacity: 100%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

/* Mobile view: */

@media screen and (max-width: 900px) {
  article {
    flex-direction: column;
    width: 90%;
    padding: 5px;
  }

  .txtWrapper {
    width: 100%;
    margin: 0;
  }

  .imgAndStats {
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .statsWrapper {
    width: 45%;
  }
}
